*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

body>div {
    height: 100%;
    display: flex;
    background-image: url(./Bg.png);
    background-position: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 2vw;
    color: #fff;
}